.minha-lista {
 color: #9932CC;
 font-size: 30;
}
.imagens {
 text-align: center;
 background: white;
}
#menu {
 text-align: center;
 font-size: 30px;
}
#lateral {
 float: right: right;
}
.listas {
 background:black;
}
#cabecalho {
 text-align: center;
 background: black;
 border-bottom-style: solid;
 margin-left: -8px;
 margin-right: -8px;
 margin-top: 1px
}
.rodape {
 text-align: center;
 background: black;
 border-top-style: solid;
 margin-left: -8px;
 margin-right: -8px;
 margin-bottom: -30px;
 padding: 1px;
}
.lista {
 color: #9932CC;
 font-size: 30;
}
#imagem {
 text-align:center;
 border: 5px;
 border-style:solid;
 border-color:#4B0082;
 border-top-left-radius: 25px;
 border-top-right-radius: 25px;
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
 padding-top: 20px;
 padding-bottom: 20px;
 margin-left: 450px;
 margin-right: 450px;
}

#link {
 text-align:center;
}

p {
 color: #483D8B;
 font-size: 30;
  
}

h1 {
 color:#4B0082;
 text-align: center;
 font-size: 50;
}

h2 {
 color: #191970;
 text-align: left;
 font-size: 40;
}
#alunos {
 background: black;

}
#alunos {
 font-size: 20px;
 color: #9932CC;
 border-style: solid;
 margin-right: 85%;
 margin-top: -2px;
 margin-bottom: -2px;
}
